In [1]:
import sys
sys.path.append("..")

import pandas as pd
import ast  # Abstract Syntax Trees - safely parse string list to Python list
import seaborn as sns
import matplotlib.pyplot as plt
from reader import generic_reader

## Data wrangling

Our dataset of movies are movies from the USA, from the periode 1/1/2000 to 31/12/2023 and with a vote count of atleast 1000

In [ ]:
persons = generic_reader.read_csv_file_to_data_frame("movie_data/movies.csv")
print(persons.info())
persons

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801 entries, 0 to 2800
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adult                   2801 non-null   bool
 1   backdrop_path           2800 non-null   object
 2   budget                  2801 non-null   int64
 3   homepage                1902 non-null   object
 4   movie_id                2801 non-null   int64
 5   imdb_id                 2800 non-null   object
 6   origin_country          2801 non-null   object
 7   original_language       2801 non-null   object
 8   original_title          2801 non-null   object
 9   overview                2801 non-null   object
 10  popularity              2801 non-null   float64
 11  poster_path             2800 non-null   object
 12  production_countries    2801 non-null   object
 13  release_date            2801 non-null   object
 14  revenue                 2801 non-null   int64
 15  runtime                 2801 non-null   int64
 16  spoken_languages        2801 non-null   object
 17  status                  2801 non-null   object
 18  tagline                 2684 non-null   object
 19  title                   2801 non-null   object
 20  video                   2801 non-null   bool
 21  vote_average            2801 non-null   float64
 22  vote_count              2801 non-null   int64
 23  director_person_ids     2801 non-null   object
 24  genre_ids               2801 non-null   object
 25  production_company_ids  2801 non-null   object
 26  collection_id           894 non-null    float64
 27  cast_person_ids         2801 non-null   object
 28  cast_credit_ids         2801 non-null   object
 29  crew_person_ids         2801 non-null   object
 30  crew_credit_ids         2801 non-null   object
dtypes: bool(2), float64(3), int64(5), object(21)
memory usage: 640.2+ KB
None

,adult,backdrop_path,budget,homepage,movie_id,imdb_id,origin_country,original_language,original_title,overview,...,vote_average,vote_count,director_person_ids,genre_ids,production_company_ids,collection_id,cast_person_ids,cast_credit_ids,crew_person_ids,crew_credit_ids
0,False,/n92EzFFg2cMkJiEhnMfD5sKHSH3.jpg,80000000,http://movies.disney.com/fantasia-2000,49948,tt0120910,['US'],en,Fantasia 2000,"Blending lively music and brilliant animation,...",...,7.000,1324,"[5690, 56146, 74299, 65531, 74297, 12824, 5614...","[16, 10751, 10402]",[2],55427.0,"[67773, 166002, 13301, 73931, 15152, 37221, 74...","['52fe47b1c3a36847f814324f', '547f694292514123...","[2066428, 5690, 56146, 74299, 65531, 74297, 12...","['624f173b24f2ce009ddf2543', '52fe47b1c3a36847..."
1,False,/rNOeiC5uruGnr5n7YW8hvnrbX9q.jpg,0,NaN,10898,tt0240684,['US'],en,The Little Mermaid II: Return to the Sea,"Set several years after the first film, Ariel ...",...,6.397,1747,[60725],"[16, 12, 10751, 35]","[3475, 5391]",33085.0,"[63978, 67392, 15762, 35232, 67393, 9601, 7133...","['52fe43cc9251416c7501e85d', '52fe43cc9251416c...","[60725, 67394, 67395, 67396, 61386, 67397, 607...","['52fe43cc9251416c7501e873', '52fe43cc9251416c..."
2,False,/AbFWty0o5nKGo4iLJaGRgqFtC8W.jpg,40000000,NaN,4234,tt0134084,['US'],en,Scream 3,While Sidney Prescott and her friends visit th...,...,5.995,3807,[5140],"[27, 9648]","[7405, 85, 1600]",2602.0,"[15234, 9206, 14405, 18352, 35595, 2714, 35598...","['52fe43b4c3a36847f806911d', '52fe43b4c3a36847...","[5140, 26458, 15244, 409, 35581, 26458, 7229, ...","['52fe43b4c3a36847f80690cb', '52fe43b4c3a36847..."
3,False,/mZGwhwIwYuF0G9XLS8j23dhNfUC.jpg,23000000,https://www.uphe.com/movies/pitch-black,2787,tt0134847,['US'],en,Pitch Black,When their ship crash-lands on a remote planet...,...,6.851,4599,[28239],"[53, 878, 28]",[10201],2794.0,"[12835, 8329, 6614, 28099, 26054, 65827, 28098...","['52fe436dc3a36847f80535fd', '52fe436dc3a36847...","[28239, 13673, 28240, 9185, 63920, 63921, 1412...","['52fe436dc3a36847f805361f', '52fe436dc3a36847..."
4,False,/dA8CmAfzxVwNTcrUWTkunh7ZPqk.jpg,41300000,NaN,2069,tt0190138,['US'],en,The Whole Nine Yards,After a mobster agrees to cooperate with an FB...,...,6.465,1970,[21217],"[35, 80]","[53013, 53014]",103577.0,"[14408, 62, 57395, 2956, 61981, 2165, 7166, 16...","['52fe4331c3a36847f80418c5', '52fe4331c3a36847...","[21219, 21222, 14712, 21218, 21221, 21220, 212...","['52fe4331c3a36847f8041899', '52fe4331c3a36847..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2796,False,/sRLC052ieEzkQs9dEtPMfFxYkej.jpg,83000000,https://www.netflix.com/title/81464239,848326,tt14998742,['US'],en,Rebel Moon - Part One: A Child of Fire,When the ruthless forces of the Motherworld th...,...,6.242,2385,[15217],"[878, 28, 12]","[114152, 156880]",934765.0,"[568657, 91520, 1047649, 938, 21688, 1564557, ...","['61818dfd11386c002a9b6ed9', '6250b2765a07f500...","[3486271, 15217, 17285, 1005508, 2104243, 1830...","['624462cdc50ad20047008aad', '626038010792e115..."
2797,False,/bq9FpkTw9I3s1cSRuZxQibM2xOx.jpg,15000000,https://a24films.com/films/the-zone-of-interest,467244,tt7160372,['US'],en,The Zone of Interest,"The commandant of Auschwitz, Rudolf Höss, and ...",...,7.005,2304,[66728],"[18, 36, 10752]","[41077, 6705, 103376, 27543, 113962]",NaN,"[71374, 7152, 4072267, 4452138, 4072269, 40722...","['635c3ad9f28838007b15e2fe', '635c3acb88c65900...","[1341727, 4222, 70604, 1623709, 1389542, 41551...","['620956a6fab3fa0132ea9f79', '6078629118864b00..."
2798,False,/bckxSN9ueOgm0gJpVJmPQrecWul.jpg,205000000,https://www.aquamanmovie.com,572802,tt9663764,['US'],en,Aquaman and the Lost Kingdom,Black Manta seeks revenge on Aquaman for his f...,...,6.600,3223,[2127],"[28, 12, 14]","[174, 11565, 76907, 128064, 216687]",573693.0,"[117642, 17178, 1639847, 79082, 55085, 2227, 1...","['65b4239557530e0147d981bc', '5f41dea381a7fc00...","[52600, 2127, 36, 1354914, 1545447, 62813, 212...","['60774e1d19ab59004062d106', '6078ca802faf4d00..."
2799,False,/j9eOeLlTGoHoM8BNUJVNyWmIvCi.jpg,25000000,https://www.anyonebutyou.movie,1072790,tt26047818,['US'],en,Anyone But You,"After an amazing first date, Bea and Ben’s fie...",...,6.837,2735,[82511],"[10749, 35]","[7291, 105052, 124283, 5]",NaN,"[115440, 83271, 3085680, 2728596, 2495673, 125...","['63bf14f4df857c0089269b1a', '63bf1503df857c00...","[1963222, 1325188, 2761446, 4321486, 4321489, ...","['652be8e4f2883802a25e99af', '652be8fa358da700..."
2800,False,/4l65BWqJBl7hBwdIwp2nQdwsOuw.jpg,15900000,https://ironclawmovie.com/,850165,tt21064584,['US'],en,The Iron Claw,The true story of the inseparable Von Erich br...,...,7.543,1084,[527607],"[36, 18]","[41077, 288, 103376, 112783]",NaN,"[29222, 206905, 1716493, 2394927, 7497, 16307,...","['6326e64edcb6a3007dd98484', '6326e637dcb6a300...","[527607, 465, 2211578, 1336431, 3987582, 32604...","['60ed282a140bad002f076acc', '60ed284651a64e00..."

We make a new dataframe keeping only the columns we want to use.
While making the dataframe we also change the genre_ids, cast_person_ids and crew_person_id from a string to Python lists and the release_date into a proper datetime format.

In [ ]:
columns_to_keep = ['budget', 'movie_id', 'original_title', 'overview', 'production_countries', 'release_date', 'revenue', 'runtime', 'vote_average', 'vote_count', 'director_person_ids', 'genre_ids', 'cast_person_ids', 'collection_id', 'cast_person_ids', 'cast_credit_ids', 'crew_person_ids', 'crew_credit_ids']
df_movies = persons[columns_to_keep].copy()
df_movies['genre_ids'] = persons['genre_ids'].apply(ast.literal_eval)
df_movies['cast_person_ids'] = persons['cast_person_ids'].apply(ast.literal_eval)
df_movies['crew_person_ids'] = persons['crew_person_ids'].apply(ast.literal_eval)
df_movies['release_date'] = pd.to_datetime(persons['release_date'])
df_movies

,budget,movie_id,original_title,overview,production_countries,release_date,revenue,runtime,vote_average,vote_count,director_person_ids,genre_ids,cast_person_ids,collection_id,cast_person_ids,cast_credit_ids,crew_person_ids,crew_credit_ids
0,80000000,49948,Fantasia 2000,"Blending lively music and brilliant animation,...",['US'],2000-01-01,60655420,74,7.000,1324,"[5690, 56146, 74299, 65531, 74297, 12824, 5614...","[16, 10751, 10402]","[67773, 166002, 13301, 73931, 15152, 37221, 74...",55427.0,"[67773, 166002, 13301, 73931, 15152, 37221, 74...","['52fe47b1c3a36847f814324f', '547f694292514123...","[2066428, 5690, 56146, 74299, 65531, 74297, 12...","['624f173b24f2ce009ddf2543', '52fe47b1c3a36847..."
1,0,10898,The Little Mermaid II: Return to the Sea,"Set several years after the first film, Ariel ...","['AU', 'CA', 'US']",2000-01-23,0,75,6.397,1747,[60725],"[16, 12, 10751, 35]","[63978, 67392, 15762, 35232, 67393, 9601, 7133...",33085.0,"[63978, 67392, 15762, 35232, 67393, 9601, 7133...","['52fe43cc9251416c7501e85d', '52fe43cc9251416c...","[60725, 67394, 67395, 67396, 61386, 67397, 607...","['52fe43cc9251416c7501e873', '52fe43cc9251416c..."
2,40000000,4234,Scream 3,While Sidney Prescott and her friends visit th...,['US'],2000-02-04,161834276,116,5.995,3807,[5140],"[27, 9648]","[15234, 9206, 14405, 18352, 35595, 2714, 35598...",2602.0,"[15234, 9206, 14405, 18352, 35595, 2714, 35598...","['52fe43b4c3a36847f806911d', '52fe43b4c3a36847...","[5140, 26458, 15244, 409, 35581, 26458, 7229, ...","['52fe43b4c3a36847f80690cb', '52fe43b4c3a36847..."
3,23000000,2787,Pitch Black,When their ship crash-lands on a remote planet...,['US'],2000-02-18,53187659,108,6.851,4599,[28239],"[53, 878, 28]","[12835, 8329, 6614, 28099, 26054, 65827, 28098...",2794.0,"[12835, 8329, 6614, 28099, 26054, 65827, 28098...","['52fe436dc3a36847f80535fd', '52fe436dc3a36847...","[28239, 13673, 28240, 9185, 63920, 63921, 1412...","['52fe436dc3a36847f805361f', '52fe436dc3a36847..."
4,41300000,2069,The Whole Nine Yards,After a mobster agrees to cooperate with an FB...,['US'],2000-02-18,106371651,98,6.465,1970,[21217],"[35, 80]","[14408, 62, 57395, 2956, 61981, 2165, 7166, 16...",103577.0,"[14408, 62, 57395, 2956, 61981, 2165, 7166, 16...","['52fe4331c3a36847f80418c5', '52fe4331c3a36847...","[21219, 21222, 14712, 21218, 21221, 21220, 212...","['52fe4331c3a36847f8041899', '52fe4331c3a36847..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2796,83000000,848326,Rebel Moon - Part One: A Child of Fire,When the ruthless forces of the Motherworld th...,['US'],2023-12-15,0,134,6.242,2385,[15217],"[878, 28, 12]","[568657, 91520, 1047649, 938, 21688, 1564557, ...",934765.0,"[568657, 91520, 1047649, 938, 21688, 1564557, ...","['61818dfd11386c002a9b6ed9', '6250b2765a07f500...","[3486271, 15217, 17285, 1005508, 2104243, 1830...","['624462cdc50ad20047008aad', '626038010792e115..."
2797,15000000,467244,The Zone of Interest,"The commandant of Auschwitz, Rudolf Höss, and ...","['PL', 'GB', 'US']",2023-12-15,52631884,105,7.005,2304,[66728],"[18, 36, 10752]","[71374, 7152, 4072267, 4452138, 4072269, 40722...",NaN,"[71374, 7152, 4072267, 4452138, 4072269, 40722...","['635c3ad9f28838007b15e2fe', '635c3acb88c65900...","[1341727, 4222, 70604, 1623709, 1389542, 41551...","['620956a6fab3fa0132ea9f79', '6078629118864b00..."
2798,205000000,572802,Aquaman and the Lost Kingdom,Black Manta seeks revenge on Aquaman for his f...,['US'],2023-12-20,440181226,124,6.600,3223,[2127],"[28, 12, 14]","[117642, 17178, 1639847, 79082, 55085, 2227, 1...",573693.0,"[117642, 17178, 1639847, 79082, 55085, 2227, 1...","['65b4239557530e0147d981bc', '5f41dea381a7fc00...","[52600, 2127, 36, 1354914, 1545447, 62813, 212...","['60774e1d19ab59004062d106', '6078ca802faf4d00..."
2799,25000000,1072790,Anyone But You,"After an amazing first date, Bea and Ben’s fie...",['US'],2023-12-21,214891370,103,6.837,2735,[82511],"[10749, 35]","[115440, 83271, 3085680, 2728596, 2495673, 125...",NaN,"[115440, 83271, 3085680, 2728596, 2495673, 125...","['63bf14f4df857c0089269b1a', '63bf1503df857c00...","[1963222, 1325188, 2761446, 4321486, 4321489, ...","['652be8e4f2883802a25e99af', '652be8fa358da700..."
2800,15900000,850165,The Iron Claw,The true story of the inseparable Von Erich br...,"['GB', 'US']",2023-12-21,40130232,132,7.543,1084,[527607],"[36, 18]","[29222, 206905, 1716493, 2394927, 7497, 16307,...",NaN,"[29222, 206905, 1716493, 2394927, 7497, 16307,...","['6326e64edcb6a3007dd98484', '6326e637dcb6a300...","[527607, 465, 2211578, 1336431, 3987582, 32604...","['60ed282a140bad002f076acc', '60ed284651a64e00..."

We won't do any clean to the column Collection_id because it is for movies in a collection, like The Lord of the Rings: Fellowship of the Ring, The Lord of the Rings: The Two Towers and The Lord of the Rings: The Return of the King

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801 entries, 0 to 2800
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                2801 non-null   int64
 1   movie_id              2801 non-null   int64
 2   original_title        2801 non-null   object
 3   overview              2801 non-null   object
 4   production_countries  2801 non-null   object
 5   release_date          2801 non-null   datetime64[ns]
 6   revenue               2801 non-null   int64
 7   runtime               2801 non-null   int64
 8   vote_average          2801 non-null   float64
 9   vote_count            2801 non-null   int64
 10  director_person_ids   2801 non-null   object
 11  genre_ids             2801 non-null   object
 12  cast_person_ids       2801 non-null   object
 13  collection_id         894 non-null    float64
 14  cast_person_ids       2801 non-null   object
 15  cast_credit_ids       2801 non-null   object
 16  crew_person_ids       2801 non-null   object
 17  crew_credit_ids       2801 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(5), object(10)
memory usage: 394.0+ KB

We check the min value of the budget to see if any are missing

In [ ]:
print(df_movies['budget'].min())
print(df_movies.shape)

0
(2801, 18)

We'll check if any of the budget and revenue have the default 0

In [ ]:
zero_budget_count = (df_movies['budget'] == 0).sum()
zero_revenue_count = (df_movies['revenue'] == 0).sum()

print(f"Rows with budget = 0: {zero_budget_count}")
print(f"Rows with revenue = 0: {zero_revenue_count}")

Rows with budget = 0: 308
Rows with revenue = 0: 304

Since we have a large set of data and the difference movies can have in budget and revenue, we'll drop the rows with a budget or renvenue of zero to stay as close to the true data as possible

In [ ]:
df_movies = df_movies[(df_movies['budget'] != 0) & (df_movies['revenue'] != 0)].copy()

Genre ids seems to have a fine spread

In [ ]:
df_movies['genre_ids'].explode().value_counts()

genre_ids
18       909
35       838
28       774
53       727
12       614
878      390
80       386
10749    374
14       334
27       329
10751    324
9648     237
16       197
36       119
10752     63
10402     57
37        26
99         5
10770      1
Name: count, dtype: int64

We also check for runtime to make sure no tv series have made its way into the data by a mistake

In [ ]:
runtime = (df_movies['runtime'] <= 60).sum()
print(runtime)

0

df_movies now contains the cleaned data and will serve as our working dataframe.

In [ ]:
df_movies.sample(5)

,budget,movie_id,original_title,overview,production_countries,release_date,revenue,runtime,vote_average,vote_count,director_person_ids,genre_ids,cast_person_ids,collection_id,cast_person_ids,cast_credit_ids,crew_person_ids,crew_credit_ids
152,75000000,10590,We Were Soldiers,The story of the first major battle of the Ame...,"['DE', 'US']",2002-03-01,114660784,138,7.100,2150,[2460],"[28, 36, 10752]","[2461, 289, 17141, 16431, 21594, 41292, 12834,...",NaN,"[2461, 289, 17141, 16431, 21594, 41292, 12834,...","['52fe438e9251416c75014f9d', '52fe438e9251416c...","[2460, 20720, 2460, 8277, 2487, 8747, 57263, 2...","['52fe438e9251416c75014f45', '52fe438e9251416c..."
2286,356000000,299534,Avengers: Endgame,After the devastating events of Avengers: Infi...,['US'],2019-04-24,2799439100,181,8.238,26765,"[19272, 19271]","[12, 878, 28]","[3223, 16828, 103, 74568, 1245, 17604, 16851, ...",86311.0,"[3223, 16828, 103, 74568, 1245, 17604, 16851, ...","['5e85cd735294e700134abf26', '5e85cd84691cd500...","[3019687, 57027, 3064294, 3062791, 4230717, 27...","['6057fbdf8c44b90054683688', '606f5c67dff66e00..."
1510,125000000,86834,Noah,A man who suffers visions of an apocalyptic de...,['US'],2014-03-07,362600000,138,5.667,6378,[6431],"[18, 12]","[934, 6161, 5538, 4173, 10990, 33235, 230680, ...",NaN,"[934, 6161, 5538, 4173, 10990, 33235, 230680, ...","['52fe49a39251416c910b3c79', '52fe49a39251416c...","[1347730, 6431, 1116091, 6431, 114408, 4867, 5...","['605a531e22931a006a2c2dc2', '52fe49a39251416c..."
1273,69000000,72331,Abraham Lincoln: Vampire Hunter,President Lincoln's mother is killed by a supe...,"['RU', 'US']",2012-06-20,116500000,105,5.759,3432,[23430],"[28, 14, 27]","[239996, 55470, 53650, 17628, 17328, 60205, 20...",NaN,"[239996, 55470, 53650, 17628, 17328, 60205, 20...","['52fe4864c3a368484e0f6683', '52fe4865c3a36848...","[565491, 510, 20720, 8750, 2122, 6044, 565491,...","['52fe4864c3a368484e0f6673', '52fe4864c3a36848..."
266,200000000,296,Terminator 3: Rise of the Machines,It's been 10 years since John Connor saved Ear...,"['DE', 'GB', 'US']",2003-07-02,435000000,109,6.178,6940,[7213],"[28, 53, 878]","[1100, 6408, 6194, 7218, 2716, 7219, 74285, 42...",528.0,"[1100, 6408, 6194, 7218, 2716, 7219, 74285, 42...","['52fe4233c3a36847f800bca9', '52fe4233c3a36847...","[7213, 7214, 7215, 7227, 7228, 3986, 7229, 36,...","['52fe4233c3a36847f800bc99', '52fe4233c3a36847..."

Data about actors and actress will come from persons.csv

In [11]:
persons = generic_reader.read_csv_file_to_data_frame("movie_data/persons.csv")
print(persons.info())
persons

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12475 entries, 0 to 12474
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 12475 non-null  bool
 1   also_known_as         12475 non-null  object
 2   biography             9339 non-null   object
 3   birthday              9894 non-null   object
 4   deathday              548 non-null    object
 5   gender                12475 non-null  int64
 6   homepage              1833 non-null   object
 7   person_id             12475 non-null  int64
 8   imdb_id               12149 non-null  object
 9   known_for_department  12475 non-null  object
 10  name                  12475 non-null  object
 11  place_of_birth        9994 non-null   object
 12  popularity            12475 non-null  float64
 13  profile_path          11651 non-null  object
dtypes: bool(1), float64(1), int64(2), object(10)
memory usage: 1.2+ MB
None

,adult,also_known_as,biography,birthday,deathday,gender,homepage,person_id,imdb_id,known_for_department,name,place_of_birth,popularity,profile_path
0,False,"['George Walton Lucas Jr. ', 'George Walton Lu...","George Walton Lucas Jr. (born May 14, 1944) is...",1944-05-14,NaN,2,NaN,1,nm0000184,Directing,George Lucas,"Modesto, California, USA",1.6016,/mDLDvsx8PaZoEThkBdyaG1JxPdf.jpg
1,False,"['Mark Hamil', 'Mark Richard Hamill', 'Patrick...","Mark Richard Hamill (born September 25, 1951) ...",1951-09-25,NaN,2,NaN,2,nm0000434,Acting,Mark Hamill,"Oakland, California, USA",2.3873,/2ZulC2Ccq1yv3pemusks6Zlfy2s.jpg
2,False,['Harrison J. Ford'],Legendary Hollywood Icon Harrison Ford was bor...,1942-07-13,NaN,2,NaN,3,nm0000148,Acting,Harrison Ford,"Chicago, Illinois, USA",3.1719,/zVnHagUvXkR2StdOtquEwsiwSVt.jpg
3,False,"['Carrie Frances Fisher ', 'Кэрри Фрэнсис Фише...","Carrie Frances Fisher (October 21, 1956 – Dece...",1956-10-21,2016-12-27,1,https://carriefisher.com/,4,nm0000402,Acting,Carrie Fisher,"Beverly Hills, Los Angeles, California, USA",0.8295,/awb4UqzT6meD3JiQlraIzAqcRtH.jpg
4,False,"['林-曼努尔·米兰达', 'لین-منوئل میراندا']",Lin-Manuel Miranda (/mænˈwɛl/; born January 16...,1980-01-16,NaN,2,http://www.linmanuel.com/,1179651,nm0592135,Acting,Lin-Manuel Miranda,"Manhattan, New York City, New York, USA",1.1104,/r0wFwPa041pZ1QM66yJWuQXCkqx.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12470,False,"['Roxanna Ortega', 'Roxanne Ortega']",NaN,NaN,NaN,1,http://roxanaortega.com/,98292,nm0650945,Acting,Roxana Ortega,"Los Angeles, California, USA",0.2401,/tAkMeufq6ruljugyHhjvtIe72H4.jpg
12471,False,[],NaN,1968-12-21,NaN,2,NaN,65525,nm0564586,Directing,Howard McCain,NaN,0.9515,NaN
12472,False,[],"Cynthia Stevenson (born August 2, 1962 in Oakl...",1962-08-02,NaN,1,NaN,65528,nm0828906,Acting,Cynthia Stevenson,"Piedmont, California, USA",0.9425,/zdrsUVw9F0U4onvh1rS1AQor4wp.jpg
12473,False,['Egidio Cafarelli '],Gino Cafarelli (born 28 February 1969) is an A...,1969-02-28,NaN,2,NaN,1179643,nm1388699,Acting,Gino Cafarelli,"Queens, New York City, New York, USA",0.2527,/x9sMMZ9BSL21eYXCvYuLXgM3Glr.jpg
12474,False,['Alice Jane Evans'],NaN,1968-08-02,NaN,1,NaN,65535,nm0262521,Acting,Alice Evans,"Summit, New Jersey, USA",0.7893,/bnqD4yDORWpJg8uQjwsngZjZdgd.jpg

In [ ]:
columns_to_keep = ['birthday', 'deathday', 'gender', 'person_id', 'department']
df_persons = persons[columns_to_keep].copy()
df_persons['birthday'] = pd.to_datetime(persons['birthday'])
df_persons['deathday'] = pd.to_datetime(persons['deathday'])
df_persons