# inflation.ipynb

CSV file with CPI (Consumer Price Index) found at: https://datahub.io/core/cpi-us

In [ ]:
import sys
sys.path.append("..")

import pandas as pd
from reader import generic_reader

In [4]:
CPI = generic_reader.read_csv_file_to_data_frame("movie_data/cpiai.csv")
print(CPI.info())
CPI

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1332 non-null   object
 1   Index      1332 non-null   float64
 2   Inflation  1331 non-null   float64
dtypes: float64(2), object(1)
memory usage: 31.3+ KB
None

            Date    Index  Inflation
0     1913-01-01    9.800        NaN
1     1913-02-01    9.800       0.00
2     1913-03-01    9.800       0.00
3     1913-04-01    9.800       0.00
4     1913-05-01    9.700      -1.02
...          ...      ...        ...
1327  2023-08-01  307.026       0.44
1328  2023-09-01  307.789       0.25
1329  2023-10-01  307.671      -0.04
1330  2023-11-01  307.051      -0.20
1331  2023-12-01  306.746      -0.10

[1332 rows x 3 columns]

In [11]:
# Ensure Date is datetime type
CPI['Date'] = pd.to_datetime(CPI['Date'])

# Extract Year
CPI['Year'] = CPI['Date'].dt.year

# Group by Year and calculate average CPI
annual_cpi = CPI.groupby('Year')['Index'].mean().reset_index()

annual_cpi

     Year       Index
0    1913    9.883333
1    1914   10.016667
2    1915   10.108333
3    1916   10.883333
4    1917   12.825000
..    ...         ...
106  2019  255.657417
107  2020  258.811167
108  2021  270.969750
109  2022  292.654917
110  2023  304.701583

[111 rows x 2 columns]