# inflation.ipynb

CSV file with CPI (Consumer Price Index) found at: https://datahub.io/core/cpi-us

In [1]:
import sys
sys.path.append("..")

import pandas as pd
from reader import generic_reader

In [2]:
CPI = generic_reader.read_csv_file_to_data_frame("movie_data/cpiai.csv")
print(CPI.info())
CPI

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1332 non-null   object
 1   Index      1332 non-null   float64
 2   Inflation  1331 non-null   float64
dtypes: float64(2), object(1)
memory usage: 31.3+ KB
None

            Date    Index  Inflation
0     1913-01-01    9.800        NaN
1     1913-02-01    9.800       0.00
2     1913-03-01    9.800       0.00
3     1913-04-01    9.800       0.00
4     1913-05-01    9.700      -1.02
...          ...      ...        ...
1327  2023-08-01  307.026       0.44
1328  2023-09-01  307.789       0.25
1329  2023-10-01  307.671      -0.04
1330  2023-11-01  307.051      -0.20
1331  2023-12-01  306.746      -0.10

[1332 rows x 3 columns]

In [3]:
# Ensure Date is datetime type
CPI['Date'] = pd.to_datetime(CPI['Date'])

# Extract Year
CPI['Year'] = CPI['Date'].dt.year

# Group by Year and calculate average CPI
CPI = CPI.groupby('Year')['Index'].mean().reset_index()

# Convert to a Python dictionary where key='Year' and value='Index'
cpi_dict = dict(zip(CPI['Year'], CPI['Index']))
cpi_dict

{1913: 9.883333333333335,
 1914: 10.016666666666667,
 1915: 10.108333333333333,
 1916: 10.883333333333333,
 1917: 12.825000000000001,
 1918: 15.041666666666666,
 1919: 17.333333333333332,
 1920: 20.041666666666668,
 1921: 17.849999999999998,
 1922: 16.75,
 1923: 17.05,
 1924: 17.125,
 1925: 17.541666666666668,
 1926: 17.7,
 1927: 17.358333333333334,
 1928: 17.158333333333335,
 1929: 17.158333333333335,
 1930: 16.7,
 1931: 15.208333333333334,
 1932: 13.641666666666666,
 1933: 12.933333333333332,
 1934: 13.383333333333333,
 1935: 13.725,
 1936: 13.866666666666667,
 1937: 14.383333333333333,
 1938: 14.091666666666667,
 1939: 13.908333333333333,
 1940: 14.008333333333333,
 1941: 14.725,
 1942: 16.333333333333332,
 1943: 17.308333333333334,
 1944: 17.591666666666665,
 1945: 17.991666666666667,
 1946: 19.516666666666666,
 1947: 22.325,
 1948: 24.041666666666668,
 1949: 23.808333333333334,
 1950: 24.066666666666666,
 1951: 25.958333333333332,
 1952: 26.55,
 1953: 26.766666666666666,
 1954: 26.849999999999998,
 1955: 26.775000000000002,
 1956: 27.183333333333334,
 1957: 28.09166666666667,
 1958: 28.858333333333334,
 1959: 29.150000000000002,
 1960: 29.575,
 1961: 29.891666666666666,
 1962: 30.25,
 1963: 30.625,
 1964: 31.016666666666666,
 1965: 31.508333333333336,
 1966: 32.458333333333336,
 1967: 33.358333333333334,
 1968: 34.78333333333333,
 1969: 36.68333333333333,
 1970: 38.824999999999996,
 1971: 40.49166666666667,
 1972: 41.81666666666667,
 1973: 44.4,
 1974: 49.30833333333334,
 1975: 53.81666666666666,
 1976: 56.90833333333333,
 1977: 60.60833333333333,
 1978: 65.23333333333333,
 1979: 72.575,
 1980: 82.40833333333333,
 1981: 90.925,
 1982: 96.5,
 1983: 99.60000000000001,
 1984: 103.88333333333333,
 1985: 107.56666666666666,
 1986: 109.60833333333333,
 1987: 113.625,
 1988: 118.25833333333333,
 1989: 123.96666666666665,
 1990: 130.65833333333333,
 1991: 136.19166666666666,
 1992: 140.31666666666666,
 1993: 144.45833333333334,
 1994: 148.225,
 1995: 152.38333333333333,
 1996: 156.85,
 1997: 160.51666666666668,
 1998: 163.00833333333333,
 1999: 166.57500000000002,
 2000: 172.20000000000002,
 2001: 177.0666666666667,
 2002: 179.875,
 2003: 183.95833333333334,
 2004: 188.88333333333333,
 2005: 195.29166666666666,
 2006: 201.59166666666667,
 2007: 207.34241666666665,
 2008: 215.3025,
 2009: 214.537,
 2010: 218.05550000000002,
 2011: 224.93916666666667,
 2012: 229.59391666666667,
 2013: 232.95708333333334,
 2014: 236.73616666666666,
 2015: 237.01700000000002,
 2016: 240.00716666666665,
 2017: 245.11958333333334,
 2018: 251.10683333333336,
 2019: 255.65741666666668,
 2020: 258.8111666666667,
 2021: 270.96975000000003,
 2022: 292.6549166666667,
 2023: 304.7015833333333}

In [4]:
# Function to convert USD amount from one year to another year
def convert_usd(original_amount, original_year, new_year):
    if original_year not in cpi_dict:
        raise ValueError(f"CPI data not available for original_year: {original_year}")
    if new_year not in cpi_dict:
        raise ValueError(f"CPI data not available for new_year: {new_year}")
    
    cpi_original = cpi_dict[original_year]
    cpi_new = cpi_dict[new_year]

    new_amount = original_amount * (cpi_new / cpi_original)

    return new_amount

Testing the converter

In [5]:
convert_usd(1000,1990,2023)

2332.0486000382675